.compendium-sub-nav-bar {
  margin-left: 10px;
  margin-top: -45px;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.btn {
  margin-top: 5px;
  margin-left: 10px;
  min-width: 40px;
  float: left;
}

#action-sub-nav-success {
  background-color: #004f00;
  border-color:#004f00;
}

#action-sub-nav-danger {
  background-color: #922610;
  border-color:#922610;
}

#action-sub-nav-warning {
  background-color: #E69A28;
  border-color:#E69A28;
}

#action-sub-nav-info {
  background-color: #4479cf;
  border-color: #4479cf;
}

#compendium-search{
  margin-bottom: 0px;
}

#btn-search {
  background-color: #001fAf;
  border-color:#001fAF;
  max-width: 20px;
  float: right;
  margin-right: 3.8%;
  margin-left: 0px;
}

#search-bar {
  margin-top: 5px;
  min-width: 50px;
  max-width: 175px;
  float: right;
}

.compendium-body {
  margin-top: 100px;
  max-width: 100%;
  margin-left: 20%;
}

.compendium-body ul {
  padding-left: 0px;
}

.compendium-body .modal-dialog {
    max-height: 200px;
    z-index: 1;
    position: fixed;
    top: 10%;
}

.modal-body {
  max-height: 600px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
