.compendium-sub-nav-bar {
  margin-left: 10px;
  margin-top: -45px;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.btn {
  margin-top: 5px;
  margin-left: 10px;
  min-width: 100px;
  float: left;
}

#compendium-search{
  margin-bottom: 0px;
}

#btn-search {
  max-width: 20px;
  float: right;
  margin-right: 3.8%;
  margin-left: 0px;
}

#search-bar {
  margin-top: 5px;
  min-width: 50px;
  max-width: 300px;
  float: right;
}

.compendium-body {
  margin-top: 100px;
}

.compendium-body ul {
  padding-left: 0px;
}

.compendium-body .modal-dialog {
    max-height: 200px;
    z-index: 1;
    position: fixed;
    top: 10%;
}

.modal-body {
  max-height: 600px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
